/* .cell_grid{
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 1px grey;
}

.cell_food{
  position: absolute;
  width: 50px;
  height: 50px;
  border: solid 1px green;
} */

.snakeCell {
  display: inline-block;
  width: 50px;
  height:50px;
  background: #293742;
  border-radius: 50%;
}

.blankCell {
 display: inline-block;
 /* margin-left: 1px;
 margin-right: 1px; */
  width: 50px;
  height: 50px;
  color:transparent;
  /* background: rgb(216, 213, 213); */
}

.fruitCell {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* background: #817272; */
  /* background-size: 100%; */
  /* animation: fruitCellAppear linear 300ms; */
  background-image: url("../images/apple.png");
  background-size: contain;
  

}

/* .snakeHead {
  transition: none !important;
} */

/* .snakeHead {
  background: yellow;
} */