.game_over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  
    width: 300px;
    border: solid 1px rgba(39, 164, 236);
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
    height: 24px;
    background-color: white;
    color: rgb(92, 90, 90);
  
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.117;
  
    border-radius: 5px;
    border: 1px solid rgb(165, 163, 163);
}