* {
  /* list-style: none; */
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 400px;
  height: 400px;
  border: 2px solid rgb(5, 89, 122);
  border-radius: 2%;
  background-color: beige;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid rgb(100, 96, 96);
  z-index: 20;
}

.snake-food {
  position: absolute;
  width: 4%;
  height: 4%;
  background: rgb(100, 12, 12);
  border: 1px solid rgb(100, 12, 12);
  border-radius: 40%;
  z-index: 10;
}

/* .snake-food {
  position: absolute;
  width: 20px;
  height: 20px;
  background: green;
  border: 1px solid rgb(77, 70, 70);
  z-index: 10;
} */
